language: node_js
node_js:
  - 13
addons:
  apt:
    packages:
      # Ubuntu 16+ does not install this dependency by default, so we need to install it ourselves
      - libgconf-2-4
cache:
  # Caches $HOME/.npm when npm ci is default script command
  # Caches node_modules in all other cases
  npm: true
  directories:
    # we also need to cache folder with Cypress binary
    - ~/.cache
install:



jobs:
  include:
    - stage: Build & Cypress Tests
    # stage name not required, will continue to use `test
      - script: npm ci
      - script: npm install -g serve
      - script: serve -s public -l 8080
      - script: $(npm bin)/cypress run --record
