body {
  font-family: "Lato";
  margin: 0px;
}
.visual {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}
path {
  fill: #fff;
  stroke: transparent;
  stroke-width: 0.1px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  background: #2c3e50;
  color: #ecf0f1;
  pointer-events: none;
  border-radius: 3px;
}

div.tooltip .countryname {
  font-weight: 1000;
  font-size: 18px;
}

div.tooltip.active {
  display: block;
}

.visual circle {
  transition: fill-opacity 0.4s ease-in-out;
  fill-opacity: 0.6;
}

.visual circle.hover {
  fill-opacity: 0.9;
  transition: fill-opacity 0.4s ease-in-out;
}

.visual svg {
  background-color: #3e4147;
}


.red {
  color: #e74c3c;
  fill: #e74c3c;
}

.green {
  color: #27ae60;
  fill: #27ae60;
}

.orange {
  color: #e67e22;
  fill: #e67e22;
}

#panel {
  opacity:0.97;
  position: fixed;
  width: 25%;
  overflow: scroll;
  min-width:250px;
  height: 100%;
  background-color:#31353e;
  z-index:10000;
  font-family: "Lato";
}
@media(max-width:800px){
  #panel{
    position: relative;
    width:100%;
    opacity:1;
  }
}
#info {
  animation: fadeIn 3s;
  padding: 30px;
}

#panel #title {
  color: #fff;
  font-size:30px;
  font-weight: 600;

}

#panel #subtitle {
  color : #bfbfbf;
}

#panel #description {
  padding-top:30px;
  color: #fff;
}

#panel #source {
  color: #bfbfbf;
}

#panel a {
  text-decoration: none;
  transition: color 0.5s;
  color:#8e8e92;
}
#panel a:hover{
  color: #0097e6;
  transition: color 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


#description {
  font-size:15px;
  font-weight:400;
}

.sum {
  padding-top:5px;
  width:100px;
  display:block;
  font-size:30px;
}

#panel-confirmed {
  color:white;
}

.count-subtext {
  font-size:16px;
}

