body {
  font-family: "Lato";
  margin: 0px;
}
.visual {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}
path {
  fill: #fff;
  stroke: #808080;
  stroke-width: 0.05px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  background: #2c3e50;
  color: #ecf0f1;
  pointer-events: none;
  border-radius: 3px;
}

div.tooltip .countryname {
  font-weight: 1000;
  font-size: 18px;
}

div.tooltip.active {
  display: block;
}

.visual circle {
  transition: fill-opacity 0.4s ease-in-out;
  fill-opacity: 0.6;
}

.visual circle.hover {
  fill-opacity: 0.9;
  transition: fill-opacity 0.4s ease-in-out;
}

.visual svg {
  background-color: #3e4147;
}

.red {
  color: #e74c3c;
}

.green {
  color: #27ae60;
}

.orange {
  color: #e67e22;
}

#panel {
  opacity: 0.97;
  position: fixed;
  width: 25%;
  overflow: scroll;
  min-width: 250px;
  height: 100%;
  background-color: #31353e;
  z-index: 10000;
  font-family: "Lato";
  transition: width 1s, min-width 1s;
}

#panel.panel-collapsed {
  width: 0;
  min-width: 0;
  transition: width 1s;
}

@media (max-width: 800px) {
  #panel {
    position: relative;
    width: 100%;
    max-height: 1200px;
    transition: max-height 0.5s;
    opacity: 1;
  }
  #panel.panel-collapsed {
    width: 100%;
    max-height: 0;
    transition: max-height 0.5s;
  }
}

#toggle-collapse {
  position: absolute;
  left: 7px;
  line-height: 0.8;
  top: 20px;
  z-index: 10001;
  outline: none;
  padding: 5px;
  background-color: transparent;
  color: #fff;
  border-width: 0px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #fff;
  transition: background-color 0.5s;
  font-weight: 600;
}

#toggle-collapse:hover {
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s;
}

#info {
  animation: fadeIn 3s;
  padding: 70px 30px 40px 40px;
}

#panel #title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

#panel #subtitle {
  color: #bfbfbf;
}

#panel #description {
  padding-top: 30px;
  color: #fff;
}

#panel #source {
  color: #bfbfbf;
}

#panel a {
  text-decoration: none;
  transition: color 0.5s;
  color: #8e8e92;
}
#panel a:hover {
  color: #0097e6;
  transition: color 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#description {
  font-size: 15px;
  font-weight: 400;
}

.sum {
  padding-top: 5px;
  width: 180px;
  display: block;
  font-size: 30px;
}

#panel-confirmed {
  color: white;
}

.count-subtext {
  font-size: 16px;
}

/* .countries path {
  fill: #00ffff;
} */
