/* Style the lines by removing the fill and applying a stroke */
.line {
  fill: none;
  /* stroke: #ffab00; */
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  /* fill: #ffab00; */
  /* stroke: #fff; */
}

.domain {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}