body {
  font-family: "avenir next", Arial, sans-serif;
  font-size: 12px;
  color: #696969;
}

#vis {
    position:fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height:100px;
    background-color: #3e4147;
    fill: #fff;
    z-index:200;
}

#map-shadow {
  height:100px;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  background: transparent;
  background: linear-gradient(to bottom,  rgba(62,65,71,0) 0%,rgba(62,65,71,0) 14%,rgba(62,65,71,1) 89%,rgba(62,65,71,1) 99%); /* W3C */
}

#vis svg {
  display: block;
  margin: auto;
  overflow: visible;
}

#play-button {
  position: absolute;
  top: 140px;
  left: 50px;
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

#play-button:hover {
  background-color: #696969;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 22px;
}

.track-inset {
  stroke: #fff;
  stroke-width: 20px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #969eab;
  /* stroke: #000; */
  /* stroke-opacity: 0.5; */
  /* stroke-width: 1.25px; */
}

#animate:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
}
#animate {
  position: absolute;
  left: 0;
  right: 0;
  margin:auto;
  display:block;
  top: 40px;
  z-index: 1000;


  outline: none;
  padding: 5px 15px;
  background-color: transparent;
  color: #fff;
  border-width: 0px;
  font-family: "avenir next", Arial, sans-serif;
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #fff;
  transition: 0.5s;
  font-weight: 600;
}

